
<div>
  <div class="row">
    <hr>
    <h2>Providers List</h2>
    <hr>
    <div  *ngFor="let provider of unselectedProviders" >
      <div class="column">
        <div class="card">
          <h3>Name: {{provider.name}}</h3>
          <p>Address: {{provider.address}}</p>
          <p>Phone: {{provider.phone}}</p>
          <button (click)='addToSelectedProviders($event,provider )' class="btn1" type='button' >Save Provider</button>

        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <hr>
    <h2>Selected Providers List</h2>
    <hr>
    <div  *ngFor="let provider of selectedProviders" >
      <div class="column">
        <div class="card">
          <h3>Name: {{provider.name}}</h3>
          <p>Address: {{provider.address}}</p>
          <p>Phone: {{provider.phone}}</p>
          <button (click)='addToUnselectedProviders($event,provider )' class="btn2" type='button' >X</button>
        </div>
      </div>
    </div>
  </div>

</div>

  